*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}

.text-primary {
    color: #7F0622;
}

.text-primary-2{
    color: #b61238;
}

.btn-primary{
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #b61238;
    border: 0;
}

.header{
    background-image: url(../images/developer.png) ;
    background-repeat: no-repeat;
    background-position: left;
}

/* header and nav */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* banner */

.banner{
    margin: 0 150px;
    display: flex;
    align-items: center; 

}
.banner-sub-title{
    color:  #474747;
font-size: 40px;
font-weight: 600;
line-height: normal;
}

.banner-title{
    color: #181818; 
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-paragraph{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;

}

.section-title{
    text-align: center;
    margin-bottom: 50px;
    color: #181818;
font-size: 35px;
font-weight: 700;
line-height: normal;
}

.section-paragraph{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
} 

.about-info-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.about .info-title{
    color:  #757575;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}

.about .info-description{
    color:  #474747;
font-size: 20px;
font-weight: 700;
line-height: 30px;
}

/* what i do section */

.what-i-do{
    color: #181818;
    text-align: center;
    line-height: normal;
    margin-top: 120px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}

.skill-title{
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.skill-description{
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px    
}

/* resume */

.resume{
    margin-top: 130px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-content{
    display: flex;
    gap: 24px;
}

.resume .resume-title{
color: #474747;
font-size: 30px;
font-weight: 700;
line-height: normal;
}

.resume .title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.resume .sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.resume .description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact style */

.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;   
    padding: 100px 200px; 
    margin-top: 50px;
}


.contact .section-title{
    text-align: left;
}

.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input{
    width: 100%;
}

.contact .section-description{
     margin-bottom: 30px;
}